<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="patternLog">
            %d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %logger{5} - %msg%n
        </property>
        <property name="LOG_DIR">
            logs
        </property>
    </Properties>
    <Appenders>
        <RollingFile name="RollingFile" filename="${LOG_DIR}/LogFile.log" append="true"
                     filepattern="${LOG_DIR}/${date:YYYY-MM-dd}/${date:YYYY-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${patternLog}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="20 KB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="RollingFile" />
        </Root>
    </Loggers>
</Configuration>
